<h1>Problem Editor</h1>

<form [formGroup]="problemForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter problem name">
  </div>
  <div class="form-group">
    <label for="text">Text</label>
    <textarea class="form-control" id="text" formControlName="text" rows="8" placeholder="Enter problem text"></textarea>
  </div>

  <div formArrayName="testCases">
    <div *ngFor="let testCase of problemForm.controls.testCases.controls; let i=index" class="card mb-3">
      <div class="card-body" [formGroupName]="i">
        <h5 class="card-title">Test Case #{{ i + 1 }}</h5>
        <div class="form-group">
          <label for="text">Input</label>
          <textarea class="form-control" id="input{{ i }}" formControlName="input" rows="8" placeholder="Enter test case input"></textarea>
        </div>
        <div class="form-group">
          <label for="text">Output</label>
          <textarea class="form-control" id="output{{ i }}" formControlName="output" rows="8" placeholder="Enter test case output"></textarea>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sample{{ i }}">
          <label class="custom-control-label" for="sample{{ i }}">Sample test case?</label>
        </div>

        <button *ngIf="problemForm.controls.testCases.controls.length > 1"
                type="button" class="btn btn-danger mt-3" (click)="removeTestCase(i)">Remove <i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" (click)="addTestCase()">Add Test Case <i class="fas fa-plus"></i></button>
  <button type="submit" class="btn btn-success" (click)="submit()">Save <i class="fas fa-save"></i></button>
</form>